# APP SETTINGS
APP_NAME="Belly-Debugger"
DEBUG=False

# DATABASE (INFLUXDB)
INFLUXDB_URL=http://influxdb:8086
LOCAL_INFLUXDB_URL=http://localhost:8086
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change-me-strong-password
INFLUXDB_TOKEN=change-me-long-random-token
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=nutrition-stats

# API & NETWORK
API_PORT=8000
API_URL=http://localhost:8000